<!DOCTYPE html>


<!--todas las etiquetas que maneja lo referencio a th-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Pagina listado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
      <!--Jquery -->
            <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <!--datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    <!--swet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Font aweson-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" referrerpolicy="no-referrer" />
    
    <!--stilos plantilla -->
          <link th:href="@{/css/styles.css}" rel="stylesheet" />
             
		<!--JS para validar  -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
		
			<style type="text/css">
		.help-block {
			color: red;
		}
	
	
		.form-group.has-error .form-control {
			border: 1px solid red;
			box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
		}
		  body{
				  background: #E5E7E9;
			  }
			  	.icon{
		   color: white;
		   font-size: 20px;
		}
		.fas{
		color: white;
		}
		
		nav a {
		  color:white;
		  font-family: 'Roboto', sans-serif;
		
		}
		p{
		 font-family: 'Roboto', sans-serif;
		 color: #CACFD2;
		}
	   hr {
            background: #0B85F7;
            height: 40px; /* Aumenta la altura para hacer la línea más gruesa */
            border: none; /* Elimina el borde predeterminado */
        }
	
	
		
	</style>
          
         
     
</head>
 <body class="sb-nav-fixed"> 
        
        <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background: #212F3C">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="##">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search sdf-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark"style="background: #212F3C" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                         <div class="nav">
                           
                            <div class="sb-sidenav-menu-heading text-center">
                            <p>Cristian Orizano</p>
                            <p>Admin</p>
                            </div>
                            
                            <hr style="height: 4px">
                            <a class="nav-link collapsed" style="color: #D7DBDD" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-screwdriver-wrench icon"></i></div>
                                Mantenimiento
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/admin/lista}">Administrador</a>
                                    <a class="nav-link" href="##">Light Sidenav</a>
                                </nav>
                            </div>
                            
                               <a class="nav-link collapsed"  style="color: #D7DBDD" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-pdf icon"></i></div>
                                Reporte
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"th:href="@{/admin/formconsulta}">Administrador</a>
                                    <a class="nav-link" href="##">Light Sidenav</a>
                                </nav>
                            </div>
                            
                             <a class="nav-link collapsed"  style="color: #D7DBDD" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-pdf icon"></i></div>
                                ventas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link"th:href="@{/admin/formconsulta}">Administrador</a>
                                    <a class="nav-link" href="##">Light Sidenav</a>
                                </nav>
                            </div>
                            
                          
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
   
                        <div class="row">                       
                        <div class="card mb-4">
                             <div class="card-header" style="background: #2271B6;">                         
                                <h4 class="text-white"><i class="fas fa-table me-1"></i>Administrador </h4>
                            </div>
                            <div class="card-body">
						
						
						<!-- Button modal -->
						<button type="button" class="btn btn-primary btn-registrar" data-bs-toggle="modal" data-bs-target="#modalAdmi">
							Registrar
						</button> 
			
						
						<!-- Modal -->
						<div class="modal fade" id="modalAdmi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header text-white" style="background: #D61748">
										<h5 class="modal-title" id="exampleModalLabel">Mantenimiento Administrador</h5>
										<button type="button" id="cerrarr" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
							
	            	
					<form th:action="@{/admin/registrar}" id="formAdmin" th:object="${admin}" method="post">
						<div class="row mb-4">
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">	
										
							<input type="text" name="codigo" th:field="*{codigoAd}" id="codigo" hidden class="form-control" >
							<input type="text" th:field="*{estado.estado}" id="estado"   hidden class="form-control" >
							
								<label for="formGroupExampleInput" class="form-label">Nombre</label>
								<div class="input-group ">
									<span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-user"></i></span>
									<input type="text" name="nombre" id="nombre" th:field="*{nombre}" class="form-control"  placeholder="Ingrese Nombre">
					
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
							<label for="formGroupExampleInput" class="form-label">Apellido</label>
							  <div class="input-group ">
								<span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-user"></i></span>
								<input type="text" name="Apellido" id="apellido" th:field="*{Apellido}" class="form-control"  placeholder="Ingrese Apellido">
							  </div>
							</div>
					
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput"  class="form-label">Direccion</label>
								<div class="input-group ">
								<span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-regular fa-diamond-turn-right"></i></span>
								<input type="text" name="Direccion" id="Direccion" th:field="*{Direccion}" class="form-control"  placeholder="Ingrese Direccion">
					             </div>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput" class="form-label">Telefono</label>
								<div class="input-group ">
								<span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-phone"></i></span>
								<input type="text" name="telefono" id="telefono" th:field="*{telefono}" class="form-control"  placeholder="Ingrese Telefono">
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput" class="form-label">Sueldo</label>
								<div class="input-group ">
								<span class="input-group-text" id="basic-addon1"><i class="fa-sharp fa-solid fa-money-bill"></i> </span>
								<input type="text" name="sueldo" id="sueldo" th:field="*{sueldo}" class="form-control" placeholder="Ingrese Sueldo">
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput" class="form-label">Sexo</label>
									<select class="form-select form-control" id="sexo" th:field="*{sexo}"  name="sexo" aria-label="Default select example">
									<option value="">[Seleccione]</option>
									<option th:value="Masculino">Masculino</option>
									<option th:value="Femenino">Femenino</option>
									
								</select>
							</div>
						</div>
						<div class="row mb-3">
						
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput" class="form-label">Fecha Nacimiento</label>
								<input type="date" class="form-control" id="fecha" th:field="*{fechanaci}" required name="fecha" 
									placeholder="Ingrese Fecha">
							</div>
						
							<div class="col-sm-12 col-md-6 col-lg-4 form-group">
								<label for="formGroupExampleInput" class="form-label">Ciudad</label>
								<select class="form-select form-control" id="ciudad" th:field="*{ciudad}" name="txtciudad" >
									<option value="">[Seleccione ciudad]</option>
									<option th:each="ad:${lisCiu}" th:utext="${ad.nombre}" th:value="${ad.codigoCiu}"></option>
						
								</select>
							</div>
						
						</div>
					
			
					<div class="modal-footer">
					<button type="submit" class="btn btn-success btn-reg">Registrar</button>
						<button type="button" class="btn btn-secondary" id="cerrar" data-bs-dismiss="modal">Cerrar</button>
						
					</div>
					</form>
				
									</div>
									
									
								</div>
							</div>
						</div>
							
	
							
							<div class="mt-3">
								<table class="table table-striped table-bordered" id="myTable">
									<thead class="" style="background: #5D6D7E;color: white">
										<tr>
											<th>Código</th>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>Direccion</th>
											<th>Telefono</th>
											<th>Sueldo</th>
											<th>Sexo</th>
											<th>Fecha Nacimiento</th>
											<th>Ciudad</th>
											<th></th>
											<th></th>
							
							
										</tr>
									</thead>
									<tbody>
										<tr th:each="row:${listaAd}">
											<td th:text="${row.codigoAd}"></td>
											<td th:text="${row.nombre}"></td>
											<td th:text="${row.apellido}"></td>
											<td th:text="${row.Direccion}"></td>
											<td th:text="${row.telefono}"></td>
											<td th:text="${row.sueldo}"></td>
											<td th:text="${row.sexo}"></td>
											<td th:text="${row.fechanaci}"></td>
											<td th:text="${row.ciudad.nombre}"></td>
											<td>
											<a class="btn btn-warning editar" data-bs-toggle="modal" data-bs-target="#modalAdmi"  th:name="${row.codigoAd}">
							                   <i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
										   <!-- <form action="/admin/actualizar" method="post">
													<input th:value="${row.codigoAd}" name="cody" hidden>
													<button type="submit" class="btn btn-warning"><i
															class="fa-sharp fa-solid fa-pen-to-square"></i>Edit</button>
												</form>  -->
																					
							                   <!-- <a class="btn btn-warning" th:href="@{/admin/actualizar/} + ${row.codigoAd}">
							                   <i class="fa-sharp fa-solid fa-pen-to-square"></i>Actualizar</a> -->
							                   
											</td>
											<td>
												<button type="submit" class="btn btn-danger btn-eliminar"><i
														class="fa-sharp fa-solid fa-trash-can"></i></button>
							
											</td>
							
										</tr>
									</tbody>
								</table>
							</div>
		
                            </div>
                        </div>
                    </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

   
         <!--stilos plantilla -->
            <script th:src="@{/js/scripts.js}"></script>
            
            
        <script>
          $(document).ready(function () {
				$('#myTable').DataTable({

					"language": {
						"url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"

					}
				});
			});
        </script>
 
        <script th:inline="javascript" th:if="${MENSAJE!=null}">
           let msj
			msj = /*[[${MENSAJE}]]*/
				Swal.fire(
					'Correcto!',
					msj,
					'success'
				)
          </script>
          
          <script> 
          $(document).on("click",".btn-eliminar",function(){
			//leer la columna código de la fila actual según el botón que se hizo click
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;

			Swal.fire({
				title: 'Seguro?',
				text: "Estas seguro de eliminar",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Si'
			}).then((result) => {
				if (result.isConfirmed) {
						window.location = "eliminar?codig=" + cod;
					
		}
			})
			
		})
		</script>
		
		<!--para el boton de editar -->
		<script>
		$(document).ready(function(){
			
			$('.editar').click(function(){
				$('#formAdmin').bootstrapValidator("resetForm", true);
				let cod= $(this).attr('name');
		
		    $('.btn-reg').text("Actualizar");
			$.get("buscar?cody="+cod,function(response){
				//console.log(response);
				$('#codigo').val(response.codigoAd);
				$('#estado').val(response.estado.estado);
				$('#nombre').val(response.nombre);
				$('#apellido').val(response.apellido);
				$("#Direccion").val(response.direccion);
				$("#telefono").val(response.telefono);
				$("#sueldo").val(response.sueldo);
				$("#sexo").val(response.sexo);
				$("#fecha").val(response.fechanaci);
				$("#ciudad").val(response.ciudad.codigoCiu);
				//
				
			})

			})
			
		})
		
			$(document).ready(function(){
			$('.btn-registrar').click(function(){
				 $('.btn-reg').text("Registrar");
		         $('#codigo').val("0");
               
			})
			
		})
		
		
		
		</script>
		
		
		
		
		
  
    </body>
    
     <script>
    $(document).ready(function () {
  
    //validación
    $('#formAdmin').bootstrapValidator({      
    	 fields:{
    		 nombre:{
    		 		validators:{
    		 			notEmpty:{
    		 				message:'Campo nombre es obligatorio'
    		 			},
    		 			regexp: {
							 regexp: /^([a-zA-Z\é\á\ú\í\ó\s\Ñ\ñ]{3,20})$/,
							 message: 'Nombre Min:3 y Max:20 caracteres'
						},
    		 		}
    		 	},
    		 	Apellido:{
    		 		validators:{
    		 			notEmpty:{
    		 				message:'Campo apellido es obligatorio'
    		 			},        		 			
    		 			stringLength: {
                             min: 3,
                             max: 50,
                             message: 'El apellido es de 3 a 50 caracteres'
                         }
    		 		}
    		 	},      		 
    		 	Direccion:{
    		 		validators:{
    		 			notEmpty:{
    		 				message:'Campo direccion es obligatorio'
    		 			},
    		 			stringLength: {
                             min: 3,
                             max: 50,
                             message: 'El direccion es de 3 a 50 caracteres'
                         }
    		 		}
    		 	},
    		 
    		 	telefono: {
     	    		validators:{
    		 			notEmpty:{
    		 				message:'Campo telefono es obligatorio'
    		 			},
    		 			regexp: {
							regexp: /^([0-9]{9})$/,
							message: 'Campo telefono 9 digitos'
						},
    		 		}
                },
                sueldo: {
     	    		validators:{
    		 			notEmpty:{
    		 				message:'Campo sueldo es obligatorio'
    		 			},
    		 			regexp: {
							 regexp: /^([0-9]{1,8}[.]\d{2})$/,
							 message: 'Campo sueldo debe tener dos decimales'
						},
    		 		}
                },
                sexo: {
     	    		validators:{
    		 			notEmpty:{
    		 				message:'Campo sexo es obligatorio'
    		 			}
    		 		}
                },
                ciudad: {
     	    		validators:{
    		 			notEmpty:{
    		 				message:'Campo ciudad es obligatorio'
    		 			}
    		 		}
                },
                fechanaci: {					   
					validators: {
						notEmpty: {
							message: 'Seleccione fecha '
						},
						date: {					
						    format: 'YYYY-MM-DD',
							message: 'The format is dd/mm/yyyy'
						},
					}
				},	
    	 }
    })
    
    //resetear las validaciones
     $("#cerrar").click(function () {
			$('#formAdmin').bootstrapValidator("resetForm", true);
		});
	  $("#cerrarr").click(function () {
			$('#formAdmin').bootstrapValidator("resetForm", true);
		});

});
</script>
    
 

</html>
















